/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@import "mocha.css";

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @peach;
    }
}

@keyframes blink-critical {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-size: 12px;
    font-family: FontAwesome;
    margin: 0;
    padding: 0;
}

/* The whole bar */
window#waybar {
    background-color: @base;
    color: @text;
}

tooltip {
    background: none;
    border: 2px solid @blue;
    border-radius: 15px;
}

tooltip label {
    padding: 10px;
    color: @subtext0;
}

/*************************** 
    Shared Global Settings
***************************/

#workspace,
#workspaces button,
#mode,
#custom-spotify,
#custom-weather,
#clock,
#temperature,
#memory,
#cpu,
#pulseaudio,
#custom-grimshot,
#idle_inhibitor,
#tray,
#custom-power,
#window {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 15px;
    margin: 3px 0;
}

/*************************** 
    Modules Left 
***************************/
.modules-left {}

#custom-weather {
    padding: 0 16px;
    background-color: @blue;
    color: @crust;
}

#workspaces {
    font-size: 13px;
    margin-right: 20px;
}

#workspaces button {
    margin: 3px 0;
    padding: 2px;
    margin-left: 3px;
    border: 2px solid @surface1;
}

#workspaces button.focused {
    border-color: @sapphire;
    color: @sapphire;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

#window {
    padding: 0 16px;
    background-color: @surface1;
}

/*************************** 
    Modules Center
***************************/
.modules-center {}

#clock {
    background-color: @lavender;
    color: @crust;
    margin: 3px 2px;
    min-width: 80px;
    padding: 0 16;
}


/*************************** 
    Modules Right
***************************/

#custom-spotify,
#temperature,
#memory,
#cpu,
#pulseaudio,
#custom-grimshot,
#idle_inhibitor,
#tray,
#custom-power {
    padding: 0 15px;
    margin: 3px 2px;
    background: @mantle;
}

#custom-spotify {
    margin: 3px 0;
    padding: 0 16px;
    color: @crust;
    transition: none;
    background-color: @green;
}

#temperature {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 8px;
}

#temperature.critical {
    background-color: @red;
}

#memory {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 8px;
}

#memory.warning {
    color: @peach;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    padding-right: 16px;
    padding-left: 8px;
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @red;
}

#pulseaudio {
    border: 2px solid @blue;
}

#pulseaudio.muted {
    color: @teal;
}

#custom-grimshot {
    border: 2px solid @blue;
}

#idle_inhibitor {
    border: 2px solid @blue;
}

#custom-power {
    border: 2px solid @mauve;
    color: @mauve;
}