* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka NF";
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.95);
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 2px solid white;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 2px solid white;
}

#mode,
#clock,
#network,
#disk,
#battery,
#temperature,
#memory,
#cpu,
#pulseaudio,
#custom-grimshot,
#custom-power,
#tray {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    margin: 0 2px;
}

#mode {
    background: #64727D;
    border-bottom: 2px solid white;
}

#battery {
    border-bottom: 2px solid white;
}

#battery.charging {
    border-bottom: 2px solid #26A65B;
}

@keyframes blink {
    to {
        border-bottom: 2px solid white;
    }
}

#battery.warning:not(.charging) {
    border-bottom: 3px solid #ffd415;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    border-bottom: 3px solid #fa2424;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-hostname {
    font-size: 9px;
    padding: 0 5px;
    /* border-bottom: 2px solid green; */
}

#custom-grimshot:hover,
#custom-power:hover {
    border-bottom: 2px solid white;
}
